/* Arquivo de customização do Bootstrap*/ 

.jumbotron {
	width: 600px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
}

h3 {
	margin-bottom: 30px;
}

hr {
	border-color: #999;
}

.table {
	margin-top: 20px;	
}

.form-control{
	width: 560px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

.selecionado {
	background-color: yellow;
}

.negrito {
	font-weight: bold;
}